Repository seamapi/types, changes with the owners that .github/CODEOWNERS names for each.
All owners: @seamapi/customer-experience, @seamapi/docs, @seambot

.github/CODEOWNERS:

* @seamapi/customer-experience
/src/lib/seam/connect @seamapi/docs @seamapi/customer-experience
/package-lock.json @seambot
/package.json @seambot

feat: Release /locks/simulate endpoints (#2222)
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.437.0
  package-lock.json
  package.json
Owners: @seambot

Update via seamapi/seam-connect@ed00bde9143b70b56e9d704b8517bfc5b541eaac
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@f68ddd4cd2e5600a59391283978b935c4b678779
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@bbba48a9027c597701e7be761394a9542bddc6c7
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@e7411bb5ba38b3ed168bb8f1dcda0106af72884a
  src/lib/seam/connect/models/user-identities/user-identity.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@abb40d674a86eb9f2adc7b842703277461767175
  src/lib/seam/connect/models/user-identities/user-identity.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

fix: Add titles for /locks/simulate endpoints (#2223)
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.437.1
  package-lock.json
  package.json
Owners: @seambot

Update via seamapi/seam-connect@71ab4ad15b59be6af32e2c29f601785d0594bb0b
  src/lib/seam/connect/models/user-identities/user-identity.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@b86a5f3f420877b55baf65d2d0c4a8938c635837
  src/lib/seam/connect/models/user-identities/user-identity.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@b6716a128b707e6e326e376cab96100c95d34cda
  src/lib/seam/connect/models/user-identities/user-identity.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@f5379c8da7d8357498a1dafdba42a9a374d02d20
  src/lib/seam/connect/models/user-identities/user-identity.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@c8581d48c7313f7d51ab2dc4d2344fcafa6016fe
  src/lib/seam/connect/models/user-identities/user-identity.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@96a46254ddbf32367054e2240c3df1a849acb008
  src/lib/seam/connect/models/user-identities/user-identity.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@4998164824d9217a37500b36e06b9e34aa9773b5
  src/lib/seam/connect/models/user-identities/user-identity.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@fcc274b3efb299827907b3c94f8bce39a1ad61ea
  src/lib/seam/connect/models/user-identities/user-identity.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@ca5b958382125291bd1b8ccb5b108f6b6aa3b164
  src/lib/seam/connect/models/user-identities/user-identity.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@7cfeb6233e304003f1936e22d17f0ed1d35ba733
  src/lib/seam/connect/models/user-identities/user-identity.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@b9943836be895c154a0e841aaab19b1735905e86
  src/lib/seam/connect/models/user-identities/user-identity.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@7726c7330e4e184696e944cddfd7888f1cfedbb2
  src/lib/seam/connect/models/user-identities/user-identity.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@b3a1f9be21d686fbd98f51475bb17471e8cec840
  src/lib/seam/connect/models/events/access-codes.ts
  src/lib/seam/connect/models/events/connect-webviews.ts
  src/lib/seam/connect/models/events/connected-accounts.ts
  src/lib/seam/connect/models/events/devices.ts
  src/lib/seam/connect/models/events/phones.ts
  src/lib/seam/connect/models/user-identities/user-identity.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@58b234cb443cc4153e70b6abd69baba3cd1211cb
  src/lib/seam/connect/models/events/access-codes.ts
  src/lib/seam/connect/models/events/connect-webviews.ts
  src/lib/seam/connect/models/events/connected-accounts.ts
  src/lib/seam/connect/models/events/devices.ts
  src/lib/seam/connect/models/events/phones.ts
  src/lib/seam/connect/models/user-identities/user-identity.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@140487abe3fd065a00e450970b5eea40d423f7a0
  src/lib/seam/connect/models/events/access-codes.ts
  src/lib/seam/connect/models/events/connect-webviews.ts
  src/lib/seam/connect/models/events/connected-accounts.ts
  src/lib/seam/connect/models/events/devices.ts
  src/lib/seam/connect/models/events/phones.ts
  src/lib/seam/connect/models/user-identities/user-identity.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@c82cabd29e35021af088cd80eef828a7105e47f0
  src/lib/seam/connect/models/events/access-codes.ts
  src/lib/seam/connect/models/events/connect-webviews.ts
  src/lib/seam/connect/models/events/connected-accounts.ts
  src/lib/seam/connect/models/events/devices.ts
  src/lib/seam/connect/models/events/phones.ts
  src/lib/seam/connect/models/user-identities/user-identity.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@916ddd15f77ed5ec38fb675cf24b19220403e475
  src/lib/seam/connect/models/events/access-codes.ts
  src/lib/seam/connect/models/events/connect-webviews.ts
  src/lib/seam/connect/models/events/connected-accounts.ts
  src/lib/seam/connect/models/events/devices.ts
  src/lib/seam/connect/models/events/phones.ts
  src/lib/seam/connect/models/user-identities/user-identity.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@4e1dd58cb399f04a3d37587d55330e3df2386f95
  src/lib/seam/connect/models/events/access-codes.ts
  src/lib/seam/connect/models/events/connect-webviews.ts
  src/lib/seam/connect/models/events/connected-accounts.ts
  src/lib/seam/connect/models/events/devices.ts
  src/lib/seam/connect/models/events/phones.ts
  src/lib/seam/connect/models/user-identities/user-identity.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@2b2d7b5267f6b58afe986b3ee0568a5aae9b53b0
  src/lib/seam/connect/models/events/access-codes.ts
  src/lib/seam/connect/models/events/connect-webviews.ts
  src/lib/seam/connect/models/events/connected-accounts.ts
  src/lib/seam/connect/models/events/devices.ts
  src/lib/seam/connect/models/events/phones.ts
  src/lib/seam/connect/models/user-identities/user-identity.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@3c4e43973457fa1f0af3e9dcb923a901c1226e35
  src/lib/seam/connect/models/events/access-codes.ts
  src/lib/seam/connect/models/events/connect-webviews.ts
  src/lib/seam/connect/models/events/connected-accounts.ts
  src/lib/seam/connect/models/events/devices.ts
  src/lib/seam/connect/models/events/phones.ts
  src/lib/seam/connect/models/user-identities/user-identity.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Add user_identity.acs_user_ids (#2233)
  src/lib/seam/connect/models/user-identities/user-identity.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Add custom metadata to events (#2240)
  src/lib/seam/connect/models/events/access-codes.ts
  src/lib/seam/connect/models/events/connect-webviews.ts
  src/lib/seam/connect/models/events/connected-accounts.ts
  src/lib/seam/connect/models/events/devices.ts
  src/lib/seam/connect/models/events/phones.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.438.0
  package-lock.json
  package.json
Owners: @seambot

Update via seamapi/seam-connect@6d676d2939419b6e454f85c772fb72dc86504dde
  src/lib/seam/connect/internal/schemas.ts
  src/lib/seam/connect/model-types.ts
  src/lib/seam/connect/models/batches/batch.ts
  src/lib/seam/connect/models/batches/index.ts
  src/lib/seam/connect/models/batches/spaces.ts
  src/lib/seam/connect/models/events/seam-event.ts
  src/lib/seam/connect/models/index.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/schemas.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Add spaces/get_related (#2248)
  src/lib/seam/connect/internal/schemas.ts
  src/lib/seam/connect/model-types.ts
  src/lib/seam/connect/models/batches/batch.ts
  src/lib/seam/connect/models/batches/index.ts
  src/lib/seam/connect/models/batches/spaces.ts
  src/lib/seam/connect/models/events/seam-event.ts
  src/lib/seam/connect/models/index.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/schemas.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.439.0
  package-lock.json
  package.json
Owners: @seambot

Update via seamapi/seam-connect@49ccf361c0bb30b5fa1f203df5dc064dbe295b3c
  src/lib/seam/connect/models/access-grants/access-method.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@bced4aa91c3c8721b9daafe348255a68054ba2bc
  src/lib/seam/connect/models/access-grants/access-method.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Export connect module under main export
  src/index.ts
  src/lib/index.ts
Owners: @seamapi/customer-experience

Update via seamapi/seam-connect@2d4398b4a4e48085873cb171910915480f0cea40
  src/lib/seam/connect/models/access-grants/access-method.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@35248be2396dcab19531c86d96cb4084420800c4
  src/lib/seam/connect/models/access-grants/access-method.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience
