Repository seamapi/types, changes with the owners that .github/CODEOWNERS names for each.
All owners: @seamapi/customer-experience, @seamapi/docs, @seambot

.github/CODEOWNERS:

* @seamapi/customer-experience
/src/lib/seam/connect @seamapi/docs @seamapi/customer-experience
/package-lock.json @seambot
/package.json @seambot

1.534.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 530b611daf202b1de768e901ed8cdd7ba322861a
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 530b611daf202b1de768e901ed8cdd7ba322861a (#2415)
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.535.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 1df09859cb1bd7fcd3835be1c4389eb3d812d505
  src/lib/seam/connect/internal/schemas.ts
  src/lib/seam/connect/models/instant-keys/index.ts
  src/lib/seam/connect/models/instant-keys/instant-key-preview.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 1df09859cb1bd7fcd3835be1c4389eb3d812d505 (#2416)
  src/lib/seam/connect/internal/schemas.ts
  src/lib/seam/connect/models/instant-keys/index.ts
  src/lib/seam/connect/models/instant-keys/instant-key-preview.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.536.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 918a6ba4f546dafe260770d8c4546195aece782d
  src/lib/seam/connect/models/customer/customer-portal.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 918a6ba4f546dafe260770d8c4546195aece782d (#2417)
  src/lib/seam/connect/models/customer/customer-portal.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.537.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 1827a524e41182adffd5a67754e795179c416384
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 1827a524e41182adffd5a67754e795179c416384 (#2418)
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.538.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 7b453c73a75457231441cb5bf2486965f2445548
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 7b453c73a75457231441cb5bf2486965f2445548 (#2419)
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.539.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via efafa2aeb5ace8fed0fcac5277348de217198bbf
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via efafa2aeb5ace8fed0fcac5277348de217198bbf (#2420)
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.540.0
  package-lock.json
  package.json
Owners: @seambot

Fix schema url in tsconfig.build.json
  tsconfig.build.json
Owners: @seamapi/customer-experience

2.1.1
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 47681e0a68f5c00359ada02a38d1c2c44e5ae925
  src/lib/seam/connect/models/events/connect-webviews.ts
  src/lib/seam/connect/models/events/connected-accounts.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 47681e0a68f5c00359ada02a38d1c2c44e5ae925 (#2421)
  src/lib/seam/connect/models/events/connect-webviews.ts
  src/lib/seam/connect/models/events/connected-accounts.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.541.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via d8553bef3f55e28a3723783aa6352413e0533276
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via d8553bef3f55e28a3723783aa6352413e0533276 (#2422)
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.542.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via f4bd3dd2b0760377ec25c67d6bed89dece96e9a4
  src/lib/seam/connect/models/client-sessions/client-session.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via f4bd3dd2b0760377ec25c67d6bed89dece96e9a4 (#2423)
  src/lib/seam/connect/models/client-sessions/client-session.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.543.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 1782c672eebe6b300033c0aa955f85d0dfd0fc71
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 1782c672eebe6b300033c0aa955f85d0dfd0fc71 (#2424)
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.544.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 3a210003c00782850414b8bf47cf263a8441213d
  src/lib/seam/connect/models/acs/acs-system.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 6ca49dd7f1f0a66338258df62ac7e272c9a49b6d
  src/lib/seam/connect/models/acs/acs-system.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 7e5b2066dbd61d9421004fcf4ce0453215a6f06e
  src/lib/seam/connect/models/acs/acs-system.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 7e5b2066dbd61d9421004fcf4ce0453215a6f06e (#2427)
  src/lib/seam/connect/models/acs/acs-system.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.545.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 7d32459a7b555406895de1fcf8ffd1dc5ae155d9
  src/lib/seam/connect/models/devices/device-provider.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 7d32459a7b555406895de1fcf8ffd1dc5ae155d9 (#2428)
  src/lib/seam/connect/models/devices/device-provider.ts
Owners: @seamapi/docs, @seamapi/customer-experience
