Repository seamapi/types, changes with the owners that .github/CODEOWNERS names for each.
All owners: @seamapi/customer-experience, @seamapi/docs, @seambot

.github/CODEOWNERS:

* @seamapi/customer-experience
/src/lib/seam/connect @seamapi/docs @seamapi/customer-experience
/package-lock.json @seambot
/package.json @seambot

feat: Sync with Seam API via 6c2a55e781790631f71d49731c249d266f06d29f
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 6c2a55e781790631f71d49731c249d266f06d29f (#2958)
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.964.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via bede07b37efa654982870b7af966f270df33eb7d
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via bede07b37efa654982870b7af966f270df33eb7d (#2959)
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.965.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 499a7de9f80c81c31452bdb5868f964369a3a528
  src/lib/seam/connect/models/acs/acs-credential.ts
  src/lib/seam/connect/models/acs/acs-entrance.ts
  src/lib/seam/connect/models/devices/phone.ts
  src/lib/seam/connect/models/thermostats/thermostat-schedule.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 499a7de9f80c81c31452bdb5868f964369a3a528 (#2960)
  src/lib/seam/connect/models/acs/acs-credential.ts
  src/lib/seam/connect/models/acs/acs-entrance.ts
  src/lib/seam/connect/models/devices/phone.ts
  src/lib/seam/connect/models/thermostats/thermostat-schedule.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.966.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 7489a378b000bb090ba52dcb9223ef2f1ec22a3f
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 7489a378b000bb090ba52dcb9223ef2f1ec22a3f (#2961)
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.967.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 8fac8808ad594e1ad837376ab6bb42731350251e
  src/lib/seam/connect/models/acs/acs-users/acs-user.ts
  src/lib/seam/connect/models/acs/metadata/salto.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 8fac8808ad594e1ad837376ab6bb42731350251e (#2962)
  src/lib/seam/connect/models/acs/acs-users/acs-user.ts
  src/lib/seam/connect/models/acs/metadata/salto.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.968.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via f3d4447c71f18d90f0a5c60517a3832514c5208b
  src/lib/seam/connect/models/acs/acs-users/acs-user.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via f3d4447c71f18d90f0a5c60517a3832514c5208b (#2963)
  src/lib/seam/connect/models/acs/acs-users/acs-user.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 7fe469f59a4a3b699a442d04cb12a455aa2cc8e3
  src/lib/seam/connect/models/acs/acs-users/acs-user.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.969.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 023c06511b6076eda219cdff24338e6783ae4958
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 023c06511b6076eda219cdff24338e6783ae4958 (#2965)
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.970.0
  package-lock.json
  package.json
Owners: @seambot

Update to blueprint v0.59.0
  package-lock.json
  package.json
Owners: @seambot

Update to blueprint v0.59.0 (#2966)
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via d31f0f4d15b47df663c25838f6a6a2fe352cc06a
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via d31f0f4d15b47df663c25838f6a6a2fe352cc06a (#2967)
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.971.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via ff860632058a6faee8638d4476172c7647b01a33
  src/lib/seam/connect/models/devices/capability-properties/index.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via ff860632058a6faee8638d4476172c7647b01a33 (#2968)
  src/lib/seam/connect/models/devices/capability-properties/index.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.972.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via faa2df65b8c4ed403d2574f01cd88b6f030b08d8
  src/lib/seam/connect/models/events/devices.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via faa2df65b8c4ed403d2574f01cd88b6f030b08d8 (#2969)
  src/lib/seam/connect/models/events/devices.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.973.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 54a00f8491ed1dce7393276c36789cf5faa1f7f2
  src/lib/seam/connect/models/devices/device-provider.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 54a00f8491ed1dce7393276c36789cf5faa1f7f2 (#2970)
  src/lib/seam/connect/models/devices/device-provider.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.974.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via d8119e3cc7dd48871d0413cc2de14506ba2b12b5
  src/lib/seam/connect/models/events/enrollment-automations.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via d8119e3cc7dd48871d0413cc2de14506ba2b12b5 (#2971)
  src/lib/seam/connect/models/events/enrollment-automations.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.975.0
  package-lock.json
  package.json
Owners: @seambot

Update blueprint and generate documented blueprint
  blueprint.ts
  package-lock.json
  package.json
Owners: @seamapi/customer-experience, @seambot
