Repository seamapi/types, changes with the owners that .github/CODEOWNERS names for each.
All owners: @seamapi/customer-experience, @seamapi/docs, @seambot

1.1046.0
  package-lock.json
  package.json
Owners: @seambot

Update blueprint
  package-lock.json
  package.json
Owners: @seambot

Update blueprint (#3062)
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 959369e10f7b4acaad8c76b4c0cd9e4c7d845395
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via a8e7a2837083bf676df92afa6a4c7cfc51ed5a36
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via a8e7a2837083bf676df92afa6a4c7cfc51ed5a36 (#3064)
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.1047.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 425b49558e483961375f7488f1f87235f3920e07
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 425b49558e483961375f7488f1f87235f3920e07 (#3065)
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.1048.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via bb27f95b72329bc39804b44908ed96d2ae8d92a8
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via bb27f95b72329bc39804b44908ed96d2ae8d92a8 (#3067)
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.1049.0
  package-lock.json
  package.json
Owners: @seambot

feat!: load schemas dynamically
  README.md
  src/lib/seam/connect/index.ts
  src/lib/seam/connect/internal/index.ts
Owners: @seamapi/customer-experience, @seamapi/docs

fix: Make zod optional peer dep
  package-lock.json
  package.json
Owners: @seambot

Set min zod peer dep to v3.25.0
  package-lock.json
  package.json
Owners: @seambot

feat: Support min zod 3.25.0 peer dep
  package-lock.json
  package.json
Owners: @seambot

1.1050.0
  package-lock.json
  package.json
Owners: @seambot

1.1051.0
  package-lock.json
  package.json
Owners: @seambot

feat: Support zod v4 as peer dependency
  package-lock.json
  package.json
Owners: @seambot

feat: Support zod v4 as peer dependency (#3070)
  package-lock.json
  package.json
Owners: @seambot

1.1052.0
  package-lock.json
  package.json
Owners: @seambot

Update blueprint
  package-lock.json
  package.json
Owners: @seambot

Update blueprint (#3071)
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 7b101eee2e4ae569a922b3ded8963cbace872beb
  src/lib/seam/connect/models/devices/device-metadata.ts
  src/lib/seam/connect/models/devices/device-provider.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 7b101eee2e4ae569a922b3ded8963cbace872beb (#3072)
  src/lib/seam/connect/models/devices/device-metadata.ts
  src/lib/seam/connect/models/devices/device-provider.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.1053.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via bec3c4a0de55a5a6954ce62893da7e44f0c270bc
  src/lib/seam/connect/models/devices/device-metadata.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via bec3c4a0de55a5a6954ce62893da7e44f0c270bc (#3073)
  src/lib/seam/connect/models/devices/device-metadata.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.1054.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via ef1d9143274ff5fcc35f4d554f9cc22d6a347278
  src/lib/seam/connect/models/devices/device-metadata.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via ef1d9143274ff5fcc35f4d554f9cc22d6a347278 (#3074)
  src/lib/seam/connect/models/devices/device-metadata.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 471500a97ed5efcf8f3b830a372ecdd180030ff7
  src/lib/seam/connect/models/devices/device-metadata.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.1055.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 6b94661ddc2581a5728317bf8c6322ea241a9f38
  src/lib/seam/connect/models/access-codes/managed-access-code.ts
  src/lib/seam/connect/models/access-codes/unmanaged-access-code.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 6b94661ddc2581a5728317bf8c6322ea241a9f38 (#3076)
  src/lib/seam/connect/models/access-codes/managed-access-code.ts
  src/lib/seam/connect/models/access-codes/unmanaged-access-code.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.1056.0
  package-lock.json
  package.json
Owners: @seambot

Wait for npm cache update in open pr jobs
  .github/workflows/publish.yml
Owners: @seamapi/customer-experience

feat: Sync with Seam API via 12ba98817b1ad09a0f1a87dbe8c1e92c1263b39a
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 12ba98817b1ad09a0f1a87dbe8c1e92c1263b39a (#3077)
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

.github/CODEOWNERS:

* @seamapi/customer-experience
/src/lib/seam/connect @seamapi/docs @seamapi/customer-experience
/package-lock.json @seambot
/package.json @seambot
