Repository seamapi/types, changes with the owners that .github/CODEOWNERS names for each.
All owners: @seamapi/customer-experience, @seamapi/docs, @seambot

.github/CODEOWNERS:

* @seamapi/customer-experience
/src/lib/seam/connect @seamapi/docs @seamapi/customer-experience
/package-lock.json @seambot
/package.json @seambot

feat: Sync with Seam API via 147809b6116f1b5b3d4c03d659c0bd4db864c4e6
  src/lib/seam/connect/models/access-codes/managed-access-code.ts
  src/lib/seam/connect/models/events/access-codes.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 147809b6116f1b5b3d4c03d659c0bd4db864c4e6 (#3018)
  src/lib/seam/connect/models/access-codes/managed-access-code.ts
  src/lib/seam/connect/models/events/access-codes.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.1009.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 12f4a8b32a8a674fb7c3828eab6c4c4577b98bf9
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 12f4a8b32a8a674fb7c3828eab6c4c4577b98bf9 (#3019)
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.1010.0
  package-lock.json
  package.json
Owners: @seambot

Remove node-version-file from publish.yml
  .github/workflows/publish.yml
Owners: @seamapi/customer-experience

feat: Sync with Seam API via 77b0f6f7be133149ec570bffc8842eca98d88e1f
  src/lib/seam/connect/models/access-codes/managed-access-code.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 77b0f6f7be133149ec570bffc8842eca98d88e1f (#3020)
  src/lib/seam/connect/models/access-codes/managed-access-code.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 8531ac5a5831a413161442dc893d18c64f6172d2
  src/lib/seam/connect/models/access-codes/managed-access-code.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.1011.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via fa5ed3b5aa141a45124e4cf3034a1c40dfbc3ffe
  src/lib/seam/connect/models/custom-metadata.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via fa5ed3b5aa141a45124e4cf3034a1c40dfbc3ffe (#3022)
  src/lib/seam/connect/models/custom-metadata.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.1012.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via be160e2532becb33984810653a74879e853184dc
  src/lib/seam/connect/internal/schemas.ts
  src/lib/seam/connect/models/index.ts
  src/lib/seam/connect/models/resource-key.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via be160e2532becb33984810653a74879e853184dc (#3023)
  src/lib/seam/connect/internal/schemas.ts
  src/lib/seam/connect/models/index.ts
  src/lib/seam/connect/models/resource-key.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.1013.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 0110fd17fe99cc0705cffbc3ce4fbf4a67a52705
  src/lib/seam/connect/internal/schemas.ts
  src/lib/seam/connect/models/custom-metadata.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 0110fd17fe99cc0705cffbc3ce4fbf4a67a52705 (#3024)
  src/lib/seam/connect/internal/schemas.ts
  src/lib/seam/connect/models/custom-metadata.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.1014.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 0649dc11a9ee70d34ab925db4809697b855c06ff
  src/lib/seam/connect/models/custom-metadata.ts
  src/lib/seam/connect/models/customer/access-grant-resources.ts
  src/lib/seam/connect/models/customer/location-resources.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 0649dc11a9ee70d34ab925db4809697b855c06ff (#3025)
  src/lib/seam/connect/models/custom-metadata.ts
  src/lib/seam/connect/models/customer/access-grant-resources.ts
  src/lib/seam/connect/models/customer/location-resources.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.1015.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 6c7a274205716ba65acb33407ca7edc8b728d8ad
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 6c7a274205716ba65acb33407ca7edc8b728d8ad (#3026)
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.1016.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 8af4cc307527cff7115757716baa49dab8bfde27
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 8af4cc307527cff7115757716baa49dab8bfde27 (#3027)
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.1017.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 07596d93b8960715298cdbde3487a60d2f6cef77
  src/lib/seam/connect/models/devices/device-metadata.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 07596d93b8960715298cdbde3487a60d2f6cef77 (#3028)
  src/lib/seam/connect/models/devices/device-metadata.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.1018.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 16e16e614b7df5dd9d234135e1beceb4af283226
  src/lib/seam/connect/models/custom-metadata.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 16e16e614b7df5dd9d234135e1beceb4af283226 (#3029)
  src/lib/seam/connect/models/custom-metadata.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.1019.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via f6c68328db470a70892eca2a5abe274c9dd6bddb
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via f6c68328db470a70892eca2a5abe274c9dd6bddb (#3030)
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.1020.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via bbb9aa8cf41a87e28f6e7b43406c134a04454c51
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via bbb9aa8cf41a87e28f6e7b43406c134a04454c51 (#3031)
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience
