Repository seamapi/types, changes with the owners that .github/CODEOWNERS names for each.
All owners: @seamapi/customer-experience, @seamapi/docs, @seambot

Update via seamapi/seam-connect@3c494f5f6d66e820aa253a82312b353fac757a14
  src/lib/seam/connect/models/access-grants/access-method.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Add README note
  README.md
Owners: @seamapi/customer-experience

feat: Export connect module under main export (#2251)
  README.md
  src/index.ts
  src/lib/index.ts
Owners: @seamapi/customer-experience

1.440.0
  package-lock.json
  package.json
Owners: @seambot

Update to use imports from root
  .eslintrc.json
  blueprint.ts
Owners: @seamapi/customer-experience

Update to use imports from root (#2255)
  .eslintrc.json
  blueprint.ts
Owners: @seamapi/customer-experience

1.441.0
  package-lock.json
  package.json
Owners: @seambot

Simplify re-export
  src/index.ts
  src/lib/index.ts
Owners: @seamapi/customer-experience

fix: Simplify re-export (#2256)
  src/index.ts
  src/lib/index.ts
Owners: @seamapi/customer-experience

1.441.1
  package-lock.json
  package.json
Owners: @seambot

fix: Add access_method.code (#2249)
  src/lib/seam/connect/models/access-grants/access-method.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.441.2
  package-lock.json
  package.json
Owners: @seambot

feat: Add search to more endpoints (#2254)
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.442.0
  package-lock.json
  package.json
Owners: @seambot

Remove stale.yml
  .github/stale.yml
Owners: @seamapi/customer-experience

Update devDependencies
  package-lock.json
  package.json
Owners: @seambot

Update via seamapi/seam-connect@905592d9b8426d806de6e81e8fda271278ebc0a8
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@ecda796d1a772b78af8bef9a00b65c74e71fbb4c
  src/lib/seam/connect/models/spaces/space.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@1a5e897399c0f1989b14ff027c5d39a6fc2cf29b
  src/lib/seam/connect/models/spaces/space.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@e965a3688f97a5b29b69062d36df3a58011f8d15
  src/lib/seam/connect/models/spaces/space.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@5ec386ac1614a847169f9f0c6b3eeeeec804b8d5
  src/lib/seam/connect/models/spaces/space.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@f6a8125e3a6d018ca41fd0346643e062f286adae
  src/lib/seam/connect/models/spaces/space.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@857a8b0b65eb97a78ed5dbc6375efb68bd23e86f
  src/lib/seam/connect/models/spaces/space.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@f8bc5a0bf55f56b73441652982878515a0f05820
  src/lib/seam/connect/models/spaces/space.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@905592d9b8426d806de6e81e8fda271278ebc0a8 (#2258)
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Add space.device_count and space.acs_entrance_count (#2259)
  src/lib/seam/connect/models/spaces/space.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.443.0
  package-lock.json
  package.json
Owners: @seambot

feat: Add more query params to /access_methods/list (#2261)
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@1fdc4506344fbd4faa590cb0766ed500ad1ffde7
  src/lib/seam/connect/model-types.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.444.0
  package-lock.json
  package.json
Owners: @seambot

fix: Export more thermostat types (#2266)
  src/lib/seam/connect/model-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.444.1
  package-lock.json
  package.json
Owners: @seambot

Update via seamapi/seam-connect@9ca869a2e95a1483a3c26aeb26b868cbf4aa227e
  src/lib/seam/connect/models/connect-webviews/connect-webview.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@615c9969a1fa04ffc2b44434dd0c0861a5868652
  src/lib/seam/connect/models/connect-webviews/connect-webview.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@9ca869a2e95a1483a3c26aeb26b868cbf4aa227e (#2267)
  src/lib/seam/connect/models/connect-webviews/connect-webview.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.445.0
  package-lock.json
  package.json
Owners: @seambot

Update via seamapi/seam-connect@18bd4732db56901cf8bc0e9a236fb19c137f83c6
  src/lib/seam/connect/models/access-grants/access-grant.ts
  src/lib/seam/connect/models/access-grants/access-method.ts
  src/lib/seam/connect/models/access-grants/requested-access-method.ts
  src/lib/seam/connect/models/events/access-grants.ts
  src/lib/seam/connect/models/events/access-methods.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@18bd4732db56901cf8bc0e9a236fb19c137f83c6 (#2269)
  src/lib/seam/connect/models/access-grants/access-grant.ts
  src/lib/seam/connect/models/access-grants/access-method.ts
  src/lib/seam/connect/models/access-grants/requested-access-method.ts
  src/lib/seam/connect/models/events/access-grants.ts
  src/lib/seam/connect/models/events/access-methods.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.445.1
  package-lock.json
  package.json
Owners: @seambot

Update via seamapi/seam-connect@733917463fbceda9da4ede899d18ecc1451b6827
  src/lib/seam/connect/models/access-grants/access-grant.ts
  src/lib/seam/connect/models/spaces/space.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

.github/CODEOWNERS:

* @seamapi/customer-experience
/src/lib/seam/connect @seamapi/docs @seamapi/customer-experience
/package-lock.json @seambot
/package.json @seambot
