Repository seamapi/types, changes with the owners that .github/CODEOWNERS names for each.
All owners: @seamapi/customer-experience, @seamapi/docs, @seambot

.github/CODEOWNERS:

* @seamapi/customer-experience
/src/lib/seam/connect @seamapi/docs @seamapi/customer-experience
/package-lock.json @seambot
/package.json @seambot

1.998.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via e708c8c66006a238a4e4fbe01df585342870e2e1
  src/lib/seam/connect/models/devices/device-metadata.ts
  src/lib/seam/connect/models/devices/device-provider.ts
  src/lib/seam/connect/models/devices/device-type.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via e708c8c66006a238a4e4fbe01df585342870e2e1 (#3003)
  src/lib/seam/connect/models/devices/device-metadata.ts
  src/lib/seam/connect/models/devices/device-provider.ts
  src/lib/seam/connect/models/devices/device-type.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.999.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via b4121346a15970d64f251e0e665500652e98b039
  src/lib/seam/connect/models/acs/acs-credential.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via b4121346a15970d64f251e0e665500652e98b039 (#3004)
  src/lib/seam/connect/models/acs/acs-credential.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.1000.0
  package-lock.json
  package.json
Owners: @seambot

Adjust eslint config
  eslint.config.ts
  src/lib/seam/connect/route-types.ts
  src/lib/seam/devicedb/route-types.ts
Owners: @seamapi/customer-experience, @seamapi/docs

1.1000.1
  package-lock.json
  package.json
Owners: @seambot

Fix PR actions
  .github/workflows/check.yml
  .github/workflows/publish.yml
Owners: @seamapi/customer-experience

Fix PR actions (#3006)
  .github/workflows/check.yml
  .github/workflows/publish.yml
Owners: @seamapi/customer-experience

Update deps
  package-lock.json
  package.json
Owners: @seambot

Update blueprint (#3007)
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 7a51a64d533efcedf146c424925042283aad041d
  src/lib/seam/connect/models/devices/device-provider.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 7a51a64d533efcedf146c424925042283aad041d (#3008)
  src/lib/seam/connect/models/devices/device-provider.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.1001.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 5f3e7546b110f0c94ff040e6452a179592a1fc1c
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 5f3e7546b110f0c94ff040e6452a179592a1fc1c (#3009)
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.1002.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via fb67fbff0959099954595b7b585351430a6651ae
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 56e826a45c38cd8ff8ad8e078a19d8b2cf45f4db
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via fb67fbff0959099954595b7b585351430a6651ae (#3010)
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.1003.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 6e249e3cbe622a7d6e3f7140f943507ec032fbe9
  src/lib/seam/connect/models/access-grants/access-method.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 6e249e3cbe622a7d6e3f7140f943507ec032fbe9 (#3012)
  src/lib/seam/connect/models/access-grants/access-method.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.1004.0
  package-lock.json
  package.json
Owners: @seambot

feat: Remove devicedb types (unused)
  .eslintrc.json
  .github/workflows/check.yml
  eslint.config.ts
  package.json
  src/devicedb.ts
  src/lib/seam/devicedb/index.ts
  src/lib/seam/devicedb/models/device-capability.ts
  src/lib/seam/devicedb/models/device-model.ts
  src/lib/seam/devicedb/models/hardware.ts
  src/lib/seam/devicedb/models/image-reference.ts
  src/lib/seam/devicedb/models/index.ts
  src/lib/seam/devicedb/models/manufacturer.ts
  src/lib/seam/devicedb/route-specs.ts
  src/lib/seam/devicedb/route-types.ts
  tsconfig.build.json
  tsconfig.json
  typedoc.json
Owners: @seamapi/customer-experience, @seambot

ci: Format code
  .eslintrc.json
  eslint.config.ts
Owners: @seamapi/customer-experience

feat: Remove devicedb types (unused) (#3013)
  .eslintrc.json
  .github/workflows/check.yml
  eslint.config.ts
  package.json
  src/devicedb.ts
  src/lib/seam/devicedb/index.ts
  src/lib/seam/devicedb/models/device-capability.ts
  src/lib/seam/devicedb/models/device-model.ts
  src/lib/seam/devicedb/models/hardware.ts
  src/lib/seam/devicedb/models/image-reference.ts
  src/lib/seam/devicedb/models/index.ts
  src/lib/seam/devicedb/models/manufacturer.ts
  src/lib/seam/devicedb/route-specs.ts
  src/lib/seam/devicedb/route-types.ts
  tsconfig.build.json
  tsconfig.json
  typedoc.json
Owners: @seamapi/customer-experience, @seambot

1.1005.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via c1a66ce9be44f0c9b1ff0bc921331412529a475d
  src/lib/seam/connect/models/access-grants/access-grant.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via c1a66ce9be44f0c9b1ff0bc921331412529a475d (#3014)
  src/lib/seam/connect/models/access-grants/access-grant.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.1006.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 91508b078b35f44f3c922c1565a726ccb3b012b2
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via b3976de2d536f5ce15dbf64ad124122783f9a29d
  src/lib/seam/connect/models/user-identities/user-identity.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 91508b078b35f44f3c922c1565a726ccb3b012b2 (#3015)
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.1007.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 8d9200d2d4498c49ab41c4e5aeafa8d100f9c4f5
  src/lib/seam/connect/models/user-identities/user-identity.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 8d9200d2d4498c49ab41c4e5aeafa8d100f9c4f5 (#3017)
  src/lib/seam/connect/models/user-identities/user-identity.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.1008.0
  package-lock.json
  package.json
Owners: @seambot
