Repository seamapi/types, changes with the owners that .github/CODEOWNERS names for each.
All owners: @seamapi/customer-experience, @seamapi/docs, @seambot

feat: Sync with Seam API via 2aada4fa7d4499b836e6b818d3e71243f545a218
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 2aada4fa7d4499b836e6b818d3e71243f545a218 (#2661)
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via b471e8ad582043ad0b5404ae0ece505418497cd7
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 4db681fb4eee205e9729244f4d4bd902c3ac7224
  src/lib/seam/connect/models/access-codes/unmanaged-access-code.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 4db681fb4eee205e9729244f4d4bd902c3ac7224 (#2663)
  src/lib/seam/connect/models/access-codes/unmanaged-access-code.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 4580ca6c0faa3a7f7cbf6e7e3fbafc8a7c3f2c7b
  src/lib/seam/connect/models/access-codes/managed-access-code.ts
  src/lib/seam/connect/models/devices/device-metadata.ts
  src/lib/seam/connect/models/devices/device-provider.ts
  src/lib/seam/connect/models/devices/device-type.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 4580ca6c0faa3a7f7cbf6e7e3fbafc8a7c3f2c7b (#2664)
  src/lib/seam/connect/models/access-codes/managed-access-code.ts
  src/lib/seam/connect/models/devices/device-metadata.ts
  src/lib/seam/connect/models/devices/device-provider.ts
  src/lib/seam/connect/models/devices/device-type.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 73dc7d40ceca21c780ca749fdfb5c444d72c49d4
  src/lib/seam/connect/internal/schemas.ts
  src/lib/seam/connect/models/access-codes/dormakaba-oracode-metadata.ts
  src/lib/seam/connect/models/access-codes/index.ts
  src/lib/seam/connect/models/access-codes/managed-access-code.ts
  src/lib/seam/connect/models/access-codes/unmanaged-access-code.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 73dc7d40ceca21c780ca749fdfb5c444d72c49d4 (#2665)
  src/lib/seam/connect/internal/schemas.ts
  src/lib/seam/connect/models/access-codes/dormakaba-oracode-metadata.ts
  src/lib/seam/connect/models/access-codes/index.ts
  src/lib/seam/connect/models/access-codes/managed-access-code.ts
  src/lib/seam/connect/models/access-codes/unmanaged-access-code.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via a466413c7c13456a1a5199264631ceb6642b9811
  src/lib/seam/connect/internal/schemas.ts
  src/lib/seam/connect/models/access-codes/dormakaba-oracode-metadata.ts
  src/lib/seam/connect/models/access-codes/index.ts
  src/lib/seam/connect/models/access-codes/managed-access-code.ts
  src/lib/seam/connect/models/access-codes/unmanaged-access-code.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via a466413c7c13456a1a5199264631ceb6642b9811 (#2666)
  src/lib/seam/connect/internal/schemas.ts
  src/lib/seam/connect/models/access-codes/dormakaba-oracode-metadata.ts
  src/lib/seam/connect/models/access-codes/index.ts
  src/lib/seam/connect/models/access-codes/managed-access-code.ts
  src/lib/seam/connect/models/access-codes/unmanaged-access-code.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via cbb445dd67b672ebf8e16e7fef25ccfdb4593b3b
  src/lib/seam/connect/models/access-codes/managed-access-code.ts
  src/lib/seam/connect/models/access-codes/unmanaged-access-code.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via cbb445dd67b672ebf8e16e7fef25ccfdb4593b3b (#2667)
  src/lib/seam/connect/models/access-codes/managed-access-code.ts
  src/lib/seam/connect/models/access-codes/unmanaged-access-code.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 577db98c4d06b75241286adb8da91d1f45cbcac1
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 577db98c4d06b75241286adb8da91d1f45cbcac1 (#2668)
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via f91deb086f9d1e18e7e25dd76c6b5e5ab406cedc
  src/lib/seam/connect/models/devices/device-metadata.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via f91deb086f9d1e18e7e25dd76c6b5e5ab406cedc (#2669)
  src/lib/seam/connect/models/devices/device-metadata.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 011256e20bf1cc0b3170df9d802cbadb6e235b4a
  src/lib/seam/connect/models/access-codes/managed-access-code.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 34b157f41600f57015a847b41e645657e65e8d6f
  src/lib/seam/connect/models/access-codes/managed-access-code.ts
  src/lib/seam/connect/models/devices/device-metadata.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

ci: Generate code
  package-lock.json
Owners: @seambot

feat: Sync with Seam API via 011256e20bf1cc0b3170df9d802cbadb6e235b4a (#2670)
  src/lib/seam/connect/models/access-codes/managed-access-code.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 38bf1af70d53b7d5b5c03f82abd259499f779331
  src/lib/seam/connect/models/devices/device-metadata.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 38bf1af70d53b7d5b5c03f82abd259499f779331 (#2672)
  src/lib/seam/connect/models/devices/device-metadata.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 89eaf0c7312bb1b793d989122e7c4564ec5c5840
  src/lib/seam/connect/models/access-codes/managed-access-code.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 89eaf0c7312bb1b793d989122e7c4564ec5c5840 (#2673)
  src/lib/seam/connect/models/access-codes/managed-access-code.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 285c7506ed590f4350f783bea0168a52850fef0c
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 285c7506ed590f4350f783bea0168a52850fef0c (#2674)
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via be1a8c122a670df4bd22a33a7bffbcc164c4b089
  src/lib/seam/connect/models/access-grants/access-grant.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

ci: Generate code
  package-lock.json
Owners: @seambot

feat: Sync with Seam API via be1a8c122a670df4bd22a33a7bffbcc164c4b089 (#2675)
  package-lock.json
  src/lib/seam/connect/models/access-grants/access-grant.ts
  src/lib/seam/connect/openapi.ts
Owners: @seambot, @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 0632155af200fea547cfef212d7a75fea848f394
  src/lib/seam/connect/models/access-codes/managed-access-code.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 0632155af200fea547cfef212d7a75fea848f394 (#2676)
  src/lib/seam/connect/models/access-codes/managed-access-code.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via e87832d8eca572f689c09beb5c8a6e6705ee8b1f
  src/lib/seam/connect/models/access-codes/managed-access-code.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via e87832d8eca572f689c09beb5c8a6e6705ee8b1f (#2677)
  src/lib/seam/connect/models/access-codes/managed-access-code.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 9699b0e7520af97e8fae40dde46ac67bd4e51ada
  src/lib/seam/connect/models/access-codes/managed-access-code.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 9699b0e7520af97e8fae40dde46ac67bd4e51ada (#2678)
  src/lib/seam/connect/models/access-codes/managed-access-code.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 83b88a05dd5352e8c7ff15ae1add6f44383c64b8
  src/lib/seam/connect/models/access-codes/managed-access-code.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 83b88a05dd5352e8c7ff15ae1add6f44383c64b8 (#2679)
  src/lib/seam/connect/models/access-codes/managed-access-code.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via c224097da9fb49450834a41969b330947569864e
  src/lib/seam/connect/models/devices/device.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via c224097da9fb49450834a41969b330947569864e (#2680)
  src/lib/seam/connect/models/devices/device.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

.github/CODEOWNERS:

* @seamapi/customer-experience
/src/lib/seam/connect @seamapi/docs @seamapi/customer-experience
/package-lock.json @seambot
/package.json @seambot
