Repository seamapi/types, changes with the owners that .github/CODEOWNERS names for each.
All owners: @seamapi/customer-experience, @seamapi/docs, @seambot

ci: Format code
  blueprint.ts
Owners: @seamapi/customer-experience

Update blueprint and generate documented blueprint (#2972)
  blueprint.ts
  package-lock.json
  package.json
Owners: @seamapi/customer-experience, @seambot

feat: Sync with Seam API via 3d7236d323f9f0876ed17b8bb047c0b165c9ccfd
  src/lib/seam/connect/models/customer/customer-portal.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 3d7236d323f9f0876ed17b8bb047c0b165c9ccfd (#2973)
  src/lib/seam/connect/models/customer/customer-portal.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.976.0
  package-lock.json
  package.json
Owners: @seambot

Update to blueprint v1
  package-lock.json
  package.json
Owners: @seambot

Update to blueprint v1 (#2974)
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via e6b4e4c11eb425de9bbcb89a69ad28e2c7cac967
  src/lib/seam/connect/models/customer/customer-portal.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via e6b4e4c11eb425de9bbcb89a69ad28e2c7cac967 (#2975)
  src/lib/seam/connect/models/customer/customer-portal.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.977.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 5bb50509c6403726e99188ff64e317c5a70cd423
  src/lib/seam/connect/models/devices/device-metadata.ts
  src/lib/seam/connect/models/devices/device-provider.ts
  src/lib/seam/connect/models/devices/device-type.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 5bb50509c6403726e99188ff64e317c5a70cd423 (#2976)
  src/lib/seam/connect/models/devices/device-metadata.ts
  src/lib/seam/connect/models/devices/device-provider.ts
  src/lib/seam/connect/models/devices/device-type.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.978.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 8c9706b1e714cca0031fb171b62f4cee4f566bd6
  src/lib/seam/connect/models/acs/acs-entrance.ts
  src/lib/seam/connect/models/acs/acs-system.ts
  src/lib/seam/connect/models/acs/metadata/akiles.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 8c9706b1e714cca0031fb171b62f4cee4f566bd6 (#2977)
  src/lib/seam/connect/models/acs/acs-entrance.ts
  src/lib/seam/connect/models/acs/acs-system.ts
  src/lib/seam/connect/models/acs/metadata/akiles.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.979.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via e1c7910f880510e04c7cea8f9d70e6f54845cbab
  src/lib/seam/connect/models/acs/acs-access-group.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via e1c7910f880510e04c7cea8f9d70e6f54845cbab (#2978)
  src/lib/seam/connect/models/acs/acs-access-group.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.980.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 8f1b479e895089d56044e6b5609e869aa63f4281
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 8f1b479e895089d56044e6b5609e869aa63f4281 (#2979)
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.981.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 6d0803ed3c65968678f5e7bbdb3fd6013f591f19
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 6d0803ed3c65968678f5e7bbdb3fd6013f591f19 (#2980)
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.982.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 478b858dc38754d17d3ef24101ec97e660edfc60
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 478b858dc38754d17d3ef24101ec97e660edfc60 (#2981)
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.983.0
  package-lock.json
  package.json
Owners: @seambot

Update to blueprint v1.1.0
  package-lock.json
  package.json
Owners: @seambot

Update to blueprint v1.1.0 (#2982)
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 63aafd32b83819a9b8abbcb07c218ff4ee7f775a
  src/lib/seam/connect/models/action-attempts/deprecated.ts
  src/lib/seam/connect/models/phones/phone-registration.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 63aafd32b83819a9b8abbcb07c218ff4ee7f775a (#2984)
  src/lib/seam/connect/models/action-attempts/deprecated.ts
  src/lib/seam/connect/models/phones/phone-registration.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.984.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via a0a7a8b5ee6bf823575c050849d2b6768ac18ebe
  src/lib/seam/connect/models/acs/acs-credential.ts
  src/lib/seam/connect/models/acs/metadata/akiles.ts
  src/lib/seam/connect/models/acs/metadata/index.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via a0a7a8b5ee6bf823575c050849d2b6768ac18ebe (#2985)
  src/lib/seam/connect/models/acs/acs-credential.ts
  src/lib/seam/connect/models/acs/metadata/akiles.ts
  src/lib/seam/connect/models/acs/metadata/index.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.985.0
  package-lock.json
  package.json
Owners: @seambot

Update to blueprint v1.2.0
  package-lock.json
  package.json
Owners: @seambot

Update to blueprint v1.2.0 (#2986)
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 539d015d3bb4b3ae8279356918aba09978823576
  src/lib/seam/connect/models/acs/acs-entrance.ts
  src/lib/seam/connect/models/devices/device-metadata.ts
  src/lib/seam/connect/models/events/connected-accounts.ts
  src/lib/seam/connect/models/events/devices.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 539d015d3bb4b3ae8279356918aba09978823576 (#2987)
  src/lib/seam/connect/models/acs/acs-entrance.ts
  src/lib/seam/connect/models/devices/device-metadata.ts
  src/lib/seam/connect/models/events/connected-accounts.ts
  src/lib/seam/connect/models/events/devices.ts
  src/lib/seam/connect/openapi.ts
  src/lib/seam/connect/route-types.ts
Owners: @seamapi/docs, @seamapi/customer-experience

.github/CODEOWNERS:

* @seamapi/customer-experience
/src/lib/seam/connect @seamapi/docs @seamapi/customer-experience
/package-lock.json @seambot
/package.json @seambot
