Repository seamapi/types, changes with the owners that .github/CODEOWNERS names for each.
All owners: @seamapi/customer-experience, @seamapi/docs, @seambot

feat: Sync with Seam API via 284405ebbd10bd763d9bd7711ac927eef603c44e (#2609)
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.715.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 49efa7072f46910e6146e8a817c5d949e40c1617
  src/lib/seam/connect/models/devices/device-metadata.ts
  src/lib/seam/connect/models/devices/device-provider.ts
  src/lib/seam/connect/models/devices/device-type.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 49efa7072f46910e6146e8a817c5d949e40c1617 (#2610)
  src/lib/seam/connect/models/devices/device-metadata.ts
  src/lib/seam/connect/models/devices/device-provider.ts
  src/lib/seam/connect/models/devices/device-type.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.716.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 1e196736c08d0e73eb17ca7fd8d42307540805ed
  src/lib/seam/connect/models/devices/capability-properties/access-code.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 1e196736c08d0e73eb17ca7fd8d42307540805ed (#2611)
  src/lib/seam/connect/models/devices/capability-properties/access-code.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.717.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via fee27de58d56f14e6318b4ead9104e1743a8d8ae
  src/lib/seam/connect/models/devices/device-provider.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via fee27de58d56f14e6318b4ead9104e1743a8d8ae (#2612)
  src/lib/seam/connect/models/devices/device-provider.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.718.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 219719d6095b1ae42d5bad2b3c1ab033b4e30ade
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 219719d6095b1ae42d5bad2b3c1ab033b4e30ade (#2613)
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.719.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 0fa32223253153fe59910986069ac9ee0bd42d1a
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 0fa32223253153fe59910986069ac9ee0bd42d1a (#2614)
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.720.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via fdac336768c7d473780a9377aea6f646db1f08ce
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via fdac336768c7d473780a9377aea6f646db1f08ce (#2615)
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.721.0
  package-lock.json
  package.json
Owners: @seambot

Update to Node v24
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/actions/setup/action.yml
  .github/workflows/_build.yml
  .github/workflows/check.yml
  .nvmrc
  package-lock.json
  package.json
Owners: @seamapi/customer-experience, @seambot

Update del-cli to v7
  package-lock.json
  package.json
Owners: @seambot

Update all github actions
  .github/actions/setup/action.yml
  .github/workflows/_build.yml
  .github/workflows/_publish.yml
  .github/workflows/check.yml
  .github/workflows/format.yml
  .github/workflows/generate.yml
  .github/workflows/makenew.yml
  .github/workflows/publish.yml
  .github/workflows/semantic-release.yml
  .github/workflows/version.yml
Owners: @seamapi/customer-experience

2.2.0
  package-lock.json
  package.json
Owners: @seambot

fix: Use @types/node v24
  package-lock.json
  package.json
Owners: @seambot

2.2.1
  package-lock.json
  package.json
Owners: @seambot

Enable npm trusted publishing
  .github/workflows/_publish.yml
  .github/workflows/publish.yml
Owners: @seamapi/customer-experience

Enable npm trusted publishing (#2617)
  .github/workflows/_publish.yml
  .github/workflows/publish.yml
Owners: @seamapi/customer-experience

1.721.1
  package-lock.json
  package.json
Owners: @seambot

Enable npm trusted publishing
  .github/workflows/_publish.yml
  .github/workflows/publish.yml
Owners: @seamapi/customer-experience

Add trusted publishing step to README
  README.md
  makenew.sh
Owners: @seamapi/customer-experience

1.721.2
  package-lock.json
  package.json
Owners: @seambot

Update to zod v4
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via e12194999bded64c8ff12e34198684e8e16027eb
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via e12194999bded64c8ff12e34198684e8e16027eb (#2618)
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.722.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 045ea894c172be1648d84be63789ddc63b32ec60
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 045ea894c172be1648d84be63789ddc63b32ec60 (#2619)
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.723.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 2b527aa783dcf8b7f148ebabcbc279eb505f610a
  src/lib/seam/connect/models/devices/device-metadata.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

.github/CODEOWNERS:

* @seamapi/customer-experience
/src/lib/seam/connect @seamapi/docs @seamapi/customer-experience
/package-lock.json @seambot
/package.json @seambot
