Repository seamapi/types, changes with the owners that .github/CODEOWNERS names for each.
All owners: @seamapi/customer-experience, @seamapi/docs, @seambot

.github/CODEOWNERS:

* @seamapi/customer-experience
/src/lib/seam/connect @seamapi/docs @seamapi/customer-experience
/package-lock.json @seambot
/package.json @seambot

Update via seamapi/seam-connect@8e84f14ba3b6ddb56b254234c0d27acfc58895fb (#2333)
  src/lib/seam/connect/models/customer/customer-portal.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@9c2536d63ea009e00387158e9f0a548c41fa3fc0 (#2334)
  src/lib/seam/connect/models/access-grants/access-grant.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Update via seamapi/seam-connect@bb98e854247e481356d7a38db583d8b2d21b9745 (#2335)
  src/lib/seam/connect/models/devices/device.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

Use eslint-plugin-n to fix missing extensions
  eslint.config.ts
  package-lock.json
  package.json
  patches/eslint-plugin-node+11.1.0.patch
Owners: @seamapi/customer-experience, @seambot

feat: Sync with Seam API via 4853878a66122d472f77054c40958cc59232e343
  src/lib/seam/connect/models/access-codes/managed-access-code.ts
  src/lib/seam/connect/models/acs/acs-access-group.ts
  src/lib/seam/connect/models/acs/acs-credential.ts
  src/lib/seam/connect/models/acs/acs-encoder.ts
  src/lib/seam/connect/models/acs/acs-system.ts
  src/lib/seam/connect/models/acs/acs-users/acs-user.ts
  src/lib/seam/connect/models/acs/acs-users/pending-mutations.ts
  src/lib/seam/connect/models/bridges/bridge-client-session.ts
  src/lib/seam/connect/models/connected-accounts/connected-account.ts
  src/lib/seam/connect/models/devices/device.ts
  src/lib/seam/connect/models/user-identities/user-identity.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 4853878a66122d472f77054c40958cc59232e343 (#2337)
  src/lib/seam/connect/models/access-codes/managed-access-code.ts
  src/lib/seam/connect/models/acs/acs-access-group.ts
  src/lib/seam/connect/models/acs/acs-credential.ts
  src/lib/seam/connect/models/acs/acs-encoder.ts
  src/lib/seam/connect/models/acs/acs-system.ts
  src/lib/seam/connect/models/acs/acs-users/acs-user.ts
  src/lib/seam/connect/models/acs/acs-users/pending-mutations.ts
  src/lib/seam/connect/models/bridges/bridge-client-session.ts
  src/lib/seam/connect/models/connected-accounts/connected-account.ts
  src/lib/seam/connect/models/devices/device.ts
  src/lib/seam/connect/models/user-identities/user-identity.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.464.0
  package-lock.json
  package.json
Owners: @seambot

1.464.0
  package-lock.json
  package.json
Owners: @seambot

Automerge seambot PRs
  .github/workflows/automerge.yml
Owners: @seamapi/customer-experience

Automerge seambot PRs (#2338)
  .github/workflows/automerge.yml
Owners: @seamapi/customer-experience

Open PR to seamapi/javascript-http on new version
  .github/workflows/_publish.yml
  .github/workflows/publish.yml
Owners: @seamapi/customer-experience

Only approve dependabot PRs
  .github/workflows/automerge.yml
Owners: @seamapi/customer-experience

Open PR to seamapi/javascript-http (#2340)
  .github/workflows/_publish.yml
  .github/workflows/automerge.yml
  .github/workflows/publish.yml
Owners: @seamapi/customer-experience

1.464.1
  package-lock.json
  package.json
Owners: @seambot

Fix var ref in publish workflow
  .github/workflows/publish.yml
Owners: @seamapi/customer-experience

1.464.2
  package-lock.json
  package.json
Owners: @seambot

Add missing runs-on
  .github/workflows/publish.yml
Owners: @seamapi/customer-experience

Fix use of working-directory
  .github/workflows/publish.yml
Owners: @seamapi/customer-experience

1.464.3
  package-lock.json
  package.json
Owners: @seambot

Open PR to docs repo
  .github/workflows/publish.yml
Owners: @seamapi/customer-experience

Open PR to docs repo (#2341)
  .github/workflows/publish.yml
Owners: @seamapi/customer-experience

1.464.4
  package-lock.json
  package.json
Owners: @seambot

Only automerge when PR author (not actor) is seambot
  .github/workflows/automerge.yml
Owners: @seamapi/customer-experience

Remove extra parentheses
  .github/workflows/automerge.yml
Owners: @seamapi/customer-experience

1.464.5
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 2fe5eecdcf6416b145c1c7bc8c0bf00668af9f89
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 2fe5eecdcf6416b145c1c7bc8c0bf00668af9f89 (#2342)
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.465.0
  package-lock.json
  package.json
Owners: @seambot

Generate code for javascript-http PR
  .github/workflows/publish.yml
Owners: @seamapi/customer-experience

feat: Sync with Seam API via 99bd544e3d2bf4e8872d029fbb8e99cdfcac21f4
  src/lib/seam/connect/models/acs/acs-credential-provisioning-automation.ts
  src/lib/seam/connect/models/devices/capability-properties/thermostat.ts
  src/lib/seam/connect/models/thermostats/thermostat-program.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 99bd544e3d2bf4e8872d029fbb8e99cdfcac21f4 (#2343)
  src/lib/seam/connect/models/acs/acs-credential-provisioning-automation.ts
  src/lib/seam/connect/models/devices/capability-properties/thermostat.ts
  src/lib/seam/connect/models/thermostats/thermostat-program.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.466.0
  package-lock.json
  package.json
Owners: @seambot

Fix generate code hook for javascript-http
  .github/workflows/publish.yml
Owners: @seamapi/customer-experience

1.466.1
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via cf97cc7ebfd7edcc3f45885cf30292aaf3668b3b
  src/lib/seam/connect/models/devices/capability-properties/thermostat.ts
  src/lib/seam/connect/models/devices/device.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via cf97cc7ebfd7edcc3f45885cf30292aaf3668b3b (#2344)
  src/lib/seam/connect/models/devices/capability-properties/thermostat.ts
  src/lib/seam/connect/models/devices/device.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.467.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 5a787deefbaf3e44d992471b5a8315a82d0c51fa
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 5a787deefbaf3e44d992471b5a8315a82d0c51fa (#2345)
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.468.0
  package-lock.json
  package.json
Owners: @seambot
