Repository seamapi/types, changes with the owners that .github/CODEOWNERS names for each.
All owners: @seamapi/customer-experience, @seamapi/docs, @seambot

feat: Sync with Seam API via a2ba1178b5c3661f910e58114fc3ad0b3e177493
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via a2ba1178b5c3661f910e58114fc3ad0b3e177493 (#2853)
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.875.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via d584d68c7a9f0b59bdb805ac44361101693b9d96
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via d584d68c7a9f0b59bdb805ac44361101693b9d96 (#2854)
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.876.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 4d6930050f36136b8d7e34e1bc6bcbeda5eab087
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 4d6930050f36136b8d7e34e1bc6bcbeda5eab087 (#2855)
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.877.0
  package-lock.json
  package.json
Owners: @seambot

fix: add missing step id to publish workflow
  .github/workflows/_publish.yml
Owners: @seamapi/customer-experience

Add missing id
  .github/workflows/_publish.yml
Owners: @seamapi/customer-experience

fix: add missing step id to publish workflow (#2857)
  .github/workflows/_publish.yml
Owners: @seamapi/customer-experience

1.877.1
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 1e383db317d7101799164b3ee150e9635be217c6
  src/lib/seam/connect/models/access-grants/access-method.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 1e383db317d7101799164b3ee150e9635be217c6 (#2858)
  src/lib/seam/connect/models/access-grants/access-method.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.878.0
  package-lock.json
  package.json
Owners: @seambot

1.878.1
  package-lock.json
  package.json
Owners: @seambot

1.879.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 02615718f9cb44ad2d01677bb49375be11a7d3e3
  src/lib/seam/connect/models/action-attempts/action-attempt.ts
  src/lib/seam/connect/models/action-attempts/assign-credential.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 02615718f9cb44ad2d01677bb49375be11a7d3e3 (#2863)
  src/lib/seam/connect/models/action-attempts/action-attempt.ts
  src/lib/seam/connect/models/action-attempts/assign-credential.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.880.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via e3fda70f31296f341bd0d1da5fbf369ab598e0f7
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via e3fda70f31296f341bd0d1da5fbf369ab598e0f7 (#2864)
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.881.0
  package-lock.json
  package.json
Owners: @seambot

1.882.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via d2b0094a724a2a0e49f1ba7d0f416f0b008841c7
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via d2b0094a724a2a0e49f1ba7d0f416f0b008841c7 (#2866)
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.883.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 50ae4023e31e899edd4e47563c21c2d02224733a
  src/lib/seam/connect/models/devices/device.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 50ae4023e31e899edd4e47563c21c2d02224733a (#2867)
  src/lib/seam/connect/models/devices/device.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.884.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via a172d1cd34a7647e65dba71140bdb90f2afc8431
  src/lib/seam/connect/models/action-attempts/assign-credential.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 70be61598f54ff73cfef824bff8d8ffdd717070a
  src/lib/seam/connect/models/action-attempts/assign-credential.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 70be61598f54ff73cfef824bff8d8ffdd717070a (#2869)
  src/lib/seam/connect/models/action-attempts/assign-credential.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.885.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 5967a33badd1f29a8909f1575700bf8c720a50fd
  src/lib/seam/connect/internal/schemas.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 5967a33badd1f29a8909f1575700bf8c720a50fd (#2870)
  src/lib/seam/connect/internal/schemas.ts
Owners: @seamapi/docs, @seamapi/customer-experience

1.886.0
  package-lock.json
  package.json
Owners: @seambot

feat: Sync with Seam API via 5222a829ae1644f52d8d1a6b9c9786ef1370a020
  src/lib/seam/connect/models/access-codes/managed-access-code.ts
  src/lib/seam/connect/models/access-codes/unmanaged-access-code.ts
  src/lib/seam/connect/models/access-grants/access-grant.ts
  src/lib/seam/connect/models/access-grants/access-method.ts
  src/lib/seam/connect/models/acs/acs-access-group.ts
  src/lib/seam/connect/models/acs/acs-credential-provisioning-automation.ts
  src/lib/seam/connect/models/acs/acs-credential.ts
  src/lib/seam/connect/models/acs/acs-encoder.ts
  src/lib/seam/connect/models/acs/acs-entrance.ts
  src/lib/seam/connect/models/acs/acs-system.ts
  src/lib/seam/connect/models/acs/acs-users/acs-user.ts
  src/lib/seam/connect/models/bridges/bridge-connected-system.ts
  src/lib/seam/connect/models/connected-accounts/connected-account.ts
  src/lib/seam/connect/models/devices/capability-properties/access-code.ts
  src/lib/seam/connect/models/devices/device.ts
  src/lib/seam/connect/models/devices/unmanaged-device.ts
  src/lib/seam/connect/models/events/access-codes.ts
  src/lib/seam/connect/models/events/access-grants.ts
  src/lib/seam/connect/models/events/acs/credentials.ts
  src/lib/seam/connect/models/events/acs/encoders.ts
  src/lib/seam/connect/models/events/acs/entrances.ts
  src/lib/seam/connect/models/events/acs/systems.ts
  src/lib/seam/connect/models/events/acs/users.ts
  src/lib/seam/connect/models/events/devices.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

feat: Sync with Seam API via 5222a829ae1644f52d8d1a6b9c9786ef1370a020 (#2871)
  src/lib/seam/connect/models/access-codes/managed-access-code.ts
  src/lib/seam/connect/models/access-codes/unmanaged-access-code.ts
  src/lib/seam/connect/models/access-grants/access-grant.ts
  src/lib/seam/connect/models/access-grants/access-method.ts
  src/lib/seam/connect/models/acs/acs-access-group.ts
  src/lib/seam/connect/models/acs/acs-credential-provisioning-automation.ts
  src/lib/seam/connect/models/acs/acs-credential.ts
  src/lib/seam/connect/models/acs/acs-encoder.ts
  src/lib/seam/connect/models/acs/acs-entrance.ts
  src/lib/seam/connect/models/acs/acs-system.ts
  src/lib/seam/connect/models/acs/acs-users/acs-user.ts
  src/lib/seam/connect/models/bridges/bridge-connected-system.ts
  src/lib/seam/connect/models/connected-accounts/connected-account.ts
  src/lib/seam/connect/models/devices/capability-properties/access-code.ts
  src/lib/seam/connect/models/devices/device.ts
  src/lib/seam/connect/models/devices/unmanaged-device.ts
  src/lib/seam/connect/models/events/access-codes.ts
  src/lib/seam/connect/models/events/access-grants.ts
  src/lib/seam/connect/models/events/acs/credentials.ts
  src/lib/seam/connect/models/events/acs/encoders.ts
  src/lib/seam/connect/models/events/acs/entrances.ts
  src/lib/seam/connect/models/events/acs/systems.ts
  src/lib/seam/connect/models/events/acs/users.ts
  src/lib/seam/connect/models/events/devices.ts
  src/lib/seam/connect/openapi.ts
Owners: @seamapi/docs, @seamapi/customer-experience

.github/CODEOWNERS:

* @seamapi/customer-experience
/src/lib/seam/connect @seamapi/docs @seamapi/customer-experience
/package-lock.json @seambot
/package.json @seambot
